/*stylesheet*/
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Syne Mono');
/*iwannadie*/

body {
  font-family: "Helvetica", "Georgia", "Times New Roman", serif;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}
