/*stylesheet*/
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=SyneMono');
@import url('https://fonts.googleapis.com/css?family=Mallanna');
/*iwannadie*/


body {
  font-family: "SyneMono", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  color: #222;
  line-height: 2.0;
  max-width: 1080px;
  margin: 0;
  display: grid;
  grid-template-columns: 1000px;
  grid-gap: 20px;
  grid-template-areas:
    "header nav"
    "main   nav"
    "main   footer";
}

.header {
  display: flex;
  align-items: right;
  justify-content: right;
}

.flag {
  width: 150px;
  float: left;
  flex-basis: 40%
}

.title {
  display: inline;
  font-size: 50px;
  padding-right: 300px;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

a,
a:link {
  color: rgb(255,0,0);
}

a:visited {
  color: 	rgb(75,0,130);
}

a:hover {
  color: rgb(0,0,205);
}

a:active {
  color: rgb(245,188,78);
}

h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: rgb(0,128,0)
}

h2,
h3,
h4 {
  font-family: "Aclonica", "Georgia", sans-serif;
  font-weight: 500;
  color: rgb(0,128,0);
}

aside p{
  color: rgb(255,0,0);
}

article {
  font-family: "Mallanna", "Georgia", "Times New Roman", serif;
  font-size: 20px;
  color: #ff0000;
}

footer p {
  font-size: 12px;
  color: #aaa;
}

#introduction p {
  font-family: "SyneMono", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  color: rgb(255,0,0);
  width: 1000px;
  padding: 10px;
  border: 5px;
  border-style: none;
  margin: 5px;
}

#geography p {
  font-family: "SyneMono", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  color: rgb(255,0,0);
  width: 1000px;
  padding: 10px;
  border: 5px;
  border-style: none;
  margin: 5px;
}

#people-and-society p {
  font-family: "SyneMono", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  color: rgb(255,0,0);
  width: 1000px;
  padding: 10px;
  border: 5px;
  border-style: none;
  margin: 5px;
}

#government p {
  font-family: "SyneMono", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  color: rgb(255,0,0);
  width: 1000px;
  padding: 10px;
  border: 5px;
  border-style: none;
  margin: 5px;
}

#graphics {
  height: 150px;
  width: 100px;
}

table{
  width: 50%;
}

th {
  hieght: 70px;
}

tr, td, th{
  border: 1px solid #999;
  border-collapse: collapse;
  padding: 0 rem;
  color: #ff0000;
  text-align: center;
}

.center {
  margin-right: auto;
  margin-left: auto;
}
