/*stylesheet*/
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=SyneMono');
@import url('https://fonts.googleapis.com/css?family=Mallanna');

body {
  font-family: "SyneMono", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  color: #000080;
  background-color: #DEB887;
  line-height: 2.0;
  max-width: 1080px;
  margin: 0;
  display: grid;
  grid-template-columns: 1000px;
  grid-gap: 20px;
  grid-template-areas:
    "header nav"
    "main   main"
    "main   footer"
}

body p {
  font-family: "SyneMono", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  color: #000080;
  line-height: 2.0;
}

.header {
  display: flex;
  align-items: right;
  justify-content: right;
}

.sheahalpenny {
  width: 150px;
  float: left;
  flex-basis: 40%;
}

img {
max-width: 100%;
height: auto;
}

.title {
  display: inline;
  font-size: 50px;
  padding-right: 100px;
}

h1 {
  font-family: "Aclonica", sans-serif;
  font-size: 70px;
  font-weight: 700;
  color: #191970;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  font-size: 16px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

a,
a:link {
  color: rgb(255,0,0);
}

a:visited {
  color: 	rgb(75,0,130);
}

a:hover {
  color: rgb(0,0,205);
}

a:active {
  color: rgb(245,188,78);
}

aside p{
  font-family: "Mallanna", "Georgia", "Times New Roman", serif;
  font-size: 16px;
  color: #8B0000;
}

h4 {
  font-family: "Mallanna", "Georgia", "Times New Roman", serif;
  font-size: 16px;
  color: #8B0000;
}

footer p {
  font-size: 12px;
  color: #8B0000;
}

.Culture_Gallery {
    border-style: solid;
    border-color:#2F4F4F;
    padding:10px;
    margin: 10px;
    max-width: 200px;
    height: auto;
}
